<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ftpPath" value="URL-FTP/LogFiles/eventlog.xml"/>
    <add key="userName" value="FTP-userName"/>
    <add key="password" value="FTP-password"/>
    <add key="ConnectionString" value="CSToSQL"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>