<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ftpPath" value=""/>
    <add key="userName" value=""/>
    <add key="password" value=""/>
    <add key="ConnectionString" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>